.root {
  background: #05050f;
}

.image {
  width: 60%;
  height: 100%
}

.customTooltip {
  background: rgba(0,0,0, 0.5);
  padding: 5px;
}

.chartLegendIconWrapper {
  width: 10%;
}

.chartLegendTextWrapper {
  width: 90%;
  padding: 0px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.legendWrapper {
  display: flex;
}

.rubicWrapper {
  max-width: 100%;
  overflow: scroll;
}
